@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "Mundo Sans";
  src: url('/fonts/Mundo\ Sans\ Std\ Medium.otf')  format('otf');
}

body {
  margin: 0;
  background-color: #121212;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  color: white;
}

#topbar {
  display: flex;
  width: 100%;
  background-color: #121212;
  color: #fff;
  padding: 10px 0px 10px;
  justify-content: space-between;
}

#main-icon {
  display: inline-block;
  height: 35px;
  padding-left: 10px;
  transition: filter 0.3s ease;
  cursor: pointer;
}

#main-icon:hover {
  filter: drop-shadow(0px 0px 7px #00ff00) brightness(1.75);
}

#search  {
  display: flex;
  align-self: center;
  width: 70%;
  max-width: 775px;
}

#search-results {
  display: none;
  position: fixed;
  align-self: center;
  top: 50px;
  z-index: 2;
  width: calc(70% - 4px);
  max-width: 771px;
  background-color: #121212;
  border: #787878 2px solid;
  border-radius: 10px;
  padding-left: 4px;
}


#search-results.show {
  display: block;
}

#search-bar {
  display: flex;
  width: 100%;
  height: 35px;
  align-self: center;
  border: #787878 2px solid;
  border-radius: 50px;
  padding-left: 10px;
  transition: border 0.3s ease;
}

#search-bar.focus {
  border: #00aa00 2px solid;
}

#search-bar img {
  height: 15px;
  align-self: center;
  margin-right: 5px;
  filter: invert(1);
}

#search-bar input {
  width: 100%;
  padding: 5px;
  background: none;
  border: none;
  color: white;
}

#search-bar input:focus {
  outline: none;
}

#language {
  width: auto;
  margin-right: 10px;
  height: 40px;
  border: none;
  border-radius: 50%;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#youtube {
  display: block;
  width: 70%;
  max-width: 775px;
  height: 450px;
  margin-top: 10px;

  background-color: #333333aa;
  border-radius: 15px;
}

#youtube-channel {
  display: flex;
  align-items: center;
}

#youtube-channel img {
  padding-left: 10px;
  padding-right: 7px;
  display: inline-block;
  width: 50px;
  cursor: pointer;
}

#youtube-channel h1 {
  display: inline-block;
  flex-grow: 1;
  margin: 0;
}

#subCount {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  padding: 5px;
  border: 2px solid;
  border-radius: 50px;
}

#youtube-videos {
  width: 100%;

  display: block;
  justify-content: center;
  align-items: center;
}

#youtube-videos iframe {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 5px;
  height: 275px;
  border: none;
}

#ytothersvideos {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  overflow-y: hidden;
  overflow-x: auto;
  height: 110px;
  flex: 1;
}

#ytothersvideo::-webkit-scrollbar-thumb {
  display: none;
}

#ytothersvideos img {
  width: 250px;
  height: 100px;
  border-radius: 6px;
  filter: brightness(0.5);
  border: 2px solid black;
  cursor: pointer;
}

#ytothersvideos img.ytacvd {
  border: 2px solid #999;
  transition: border 2s ease-out, filter 2s ease-out;
  animation: playing 3s ease-in-out infinite;
}

#ytothersvideos img.ytacvd::after {
  content: "tocando";
}

#postsShow div {
  display: block;
  border: 2px solid #999;
  border-radius: 10px;
  text-align: center;
  width: 670px;
  height: 370px;
  margin-top: 10px;
  background-color: #333333aa;
}
#postsShow div img {
  border: 2px solid #999;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 9px;
  width: 650px;
  height: 300px;
}
#postsShow div h1 {
  margin: 0px;
}
#postsShow div p {
  margin: 0px;
}

.postLoading h1 span {
  text-align: center;
  color: #00000000;
  width: fit-content;
  font-size: medium;
  animation: postLoadingAnim 2s ease-in-out infinite;
  background: linear-gradient(to right, #333333aa 0%, #444444aa 47.25%, #444444aa 52.25%, #333333aa 100%);
  background-size: 5000px 650px;
}

.postLoading p span {
  text-align: center;
  color: #00000000;
  width: fit-content;
  font-size: small;
  animation: postLoadingAnim 2s ease-in-out infinite;
  background: linear-gradient(to right, #333333aa 0%, #444444aa 47.25%, #444444aa 52.25%, #333333aa 100%);
  background-size: 5000px 650px;
}

.postLoading center {
  border: 2px solid #999;
  border-radius: 8px;
  translate: 1.25% 0;
  margin-top: 9px;
  width: 650px;
  height: 300px;
  animation: postLoadingAnim 2s ease-in-out infinite;
  background: linear-gradient(to right, #333333aa 0%, #444444aa 47.25%, #444444aa 52.25%, #333333aa 100%);
  background-size: 5000px 650px;
}


#post-content {
  margin: 10px;
  width: 90%;
  max-width: 800px;
  background-color: #121212;
  font-family: "Mundo Sans", sans-serif;
  color: white;
}

#post-content p.details {
  color: #555;
  text-align: right;
  font-size: small;
}

#post-content h1, #post-content h2 {
  border-bottom: 2px solid #55555555;
  width: 100%;
}

#post-content h1 {
  font-size: 30px;
  padding-bottom: 12px;
}

#post-content h2 {
  font-size: 25px;
}

#post-content h3 {
  font-size: 20px;
}

#post-content p {
  font-size: 18px;
}

#post-content img {
  width: 100%;
}
#post-content pre {
  display: flex;
  white-space: pre-wrap;
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  background-color: #333;
  height: 50px;
  align-items: center;
  margin-left: 3px;
}

#post-content pre code {
  background-color: transparent;
  border: 0;
  padding-left: 17px;
  font-size: 14px;
}

#post-content table {
  background: #333;
  border: 2px solid #121212;
}
#post-content th {
  background: #121212;
  padding: 8px 15px;
  font-size: 16px;
}
#post-content td {
  padding: 5px 15px;
  font-size: 16px;
}
#post-content tr:nth-child(odd) {
  background: #121212;
  border: 2px solid #121212;
}
#post-content tr:nth-child(even) {
  background: #191919;
  border: 2px solid #191919;
}

#post-content tr:nth-child(odd) td {
  background: #121212;
  border: 2px solid #121212;
}
#post-content tr:nth-child(even) td {
  background: #191919;
  border: 2px solid #191919;
}

#post-content td code {
  border: #444;
  background: #444;
  padding: 1px 3px;
  border-radius: 5px;
}


@keyframes playing {
  0% {
    filter: brightness(1.25);
  }

  50% {
    filter: brightness(0.85);
  }

  100% {
    filter: brightness(1.25);
  }
}

@keyframes postLoadingAnim {
  0% {
    background-position-x: 100%;
  }
  50% {
    background-position-x: -0%;
  }
  100% {
    background-position-x: 100%;
  }
  
}

#pages {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: larger;
  text-align: center;
}



#page-previous,
#page-next {
  display: block;
  cursor: pointer;
  border: #fff 1px solid;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
}
#page-number::before {
  display: flex;
  content: "Pagina ";
  text-decoration-line: underline;
}


@media only screen and (max-width: 768px) {
  #search {
    width: 60%;
  }

  #search-results {
    width: 60%;
  }

  #youtube {
    width: 100%;
    height: 352px;
  }

  #youtube-videos iframe {
    height: 200px;
  }

  #ytothersvideos {
    height: 80px;
  }
  #ytothersvideos img {
    width: 150px;
    height: 70px;
  }

  #postsShow {
    width: 95%;
  }

  #postsShow div {
    width: 100%;
    height: 270px;
  }

  #postsShow div img {
    width: calc(100% - 20px);
    height: 200px;
  }

  #ytothersvideos {
    height: 80px;
  }
  #ytothersvideos img {
    width: 150px;
    height: 70px;
  }

  #post-content div.table{
    overflow-x: auto;
  }

  #post-content table{
    width: 100%;
  }

  #pages {
    width: 95vw;
  }
}